<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 1rem;
        }
        h1 {
            text-align: center;
            color: #4CAF50;
        }
        form {
            max-width: 500px;
            margin: 0 auto 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        form div {
            margin-bottom: 15px;
        }
        form label {
            display: block;
            margin-bottom: 5px;
        }
        form input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        form button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
        }
        form button:hover {
            background-color: #45a049;
        }
        .but{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
           
        }
        .but button{
            background-color: black;
            color:white;
            padding: 0.5vw;
            border: 1px solid black;
            border-radius: 2px;

        }
        a{
            text-decoration: none;
            padding: 0.8vw;
        }
    </style>
</head>
<body>

<h1>Input Form</h1>


<form id="entry-form" action="/" method="post">
    <div>
        <label for="Link">Link:</label>
        <input type="text" id="Link" name="Link" required>
    </div>
    <div>
        <label for="Desc">Description:</label>
        <input type="text" id="Desc" name="Desc" required>
    </div>
    <div>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
    </div>
   
    <button type="submit">Submit</button>
</form>

</body>
</html>
